[submodule "ViT/Megatron-DeepSpeed_ViT"]
	path = ViT/Megatron-DeepSpeed_ViT
	url = https://github.com/Eugene29/Megatron-DeepSpeed_ViT.git
[submodule "LLM/Training/Megatron-DeepSpeed"]
	path = LLM/Training/Megatron-DeepSpeed
	url = https://github.com/argonne-lcf/Megatron-DeepSpeed.git
