[submodule "ViT/Megatron-DeepSpeed_ViT"]
	path = ViT/Megatron-DeepSpeed_ViT
	url = https://github.com/Eugene29/Megatron-DeepSpeed_ViT.git
[submodule "LLM/Training/Megatron-DeepSpeed"]
	path = LLM/Training/Megatron-DeepSpeed
	url = https://github.com/argonne-lcf/Megatron-DeepSpeed.git
[submodule "IO/dlio_benchmark"]
	path = IO/dlio_benchmark
	url = https://github.com/argonne-lcf/dlio_benchmark.git
[submodule "DLIO/dlio_benchmark"]
	path = DLIO/dlio_benchmark
	url = https://github.com/argonne-lcf/dlio_benchmark.git
